@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --main-bcg-color: #FAB1B1;
  --main-text-color: #78563C;
  --secondary-text-color: #325C50;
  --card-color: #8BCEBC; 
}

* {
  box-sizing: border-box; 
}

body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  height: 100vh;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

.hide.show {
  display: block;
}

.hide {
  display: none;
}

/* Positioning*/
.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-dir-col {
  flex-direction: column;
}

.flex-as-fe {
  align-self: flex-end;
}

.flex-grow {
  flex-grow: 1;
}

/* Header */
header {
  background-color: var(--main-bcg-color);
  padding: 0 11.375rem;
  margin-bottom: 2.5rem;
}

.logo {
  width: 10rem;
  height: 3rem;
  margin: 0.5rem 0;
}

nav a {
  text-decoration: none;
  font-weight: 700;
}

nav a:link, nav a:visited {
  color: var(--secondary-text-color);
}

nav a:hover, nav a:active {
  color: var(--main-text-color);
}

nav a:not(:last-child) {
  margin-right: 2.6875rem;
}

/* Main */ 
h1 {
  text-align: center;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
  margin-bottom: 1rem;
}

.page-description p {
  color: var(--main-text-color);
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.card {
  background-color: var(--card-color);
  border-radius: 20px;
  width: 24.9375rem;
  height: 14.75rem;
  padding: 1.875rem 2.625rem;
  margin-bottom: 0.5rem;
}

.chip {
  width: 4.1875rem;
  height: 3.9375rem;
}

.franchise {
  width: 5.875rem;
  height: 3.625rem;
}

.card-info p {
  color: var(--main-text-color);
  margin-bottom: 0.5625rem;
}

#card-number {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 1.5rem;
}

#user-input {
  width: 20.5625rem;
  height: 2.6875rem;
  border-radius: 5px;
  border: 2px solid #a4a3a3;
  margin-right: 1.1875rem;
  padding: 0 1rem;
  font-size: 1rem; 
} 

#user-input::placeholder {
  text-align: center;
  color: #9C9C9C;
}

#validate-btn {
  background-color: var(--main-text-color);
  border: 3px solid #D4B8A2;
  border-radius: 15px;
  padding: 0.1875rem 1.3125rem;
  color: #FFD270;
  font-size: 1.625rem;
  font-weight: 700;
}

.additional-info {
  color: var(--main-text-color);
}

footer {
  background-color: var(--main-bcg-color);
  padding: 0 11.375rem;
  color: var(--secondary-text-color);
}

.social {
  padding: .7rem 0;
}

.social-logo {
  width: 1.5625rem; 
  height: 1.5625rem;
  border-radius: 5px;
  margin-left: 1.5625rem;
}
